$font-family-body: Silka, sans-serif;
$font-family-display: 'GT Pressura', sans-serif;

$font-size-paragraph-02: 16px;
$font-size-paragraph-03: 14px;
$line-height-paragraph-02: 24px;
$line-height-paragraph-03: 20px;
$font-size-heading-05: 24px;
$line-height-heading-05: 32px;
$font-size-caption: 12px;
$line-height-caption: 18px;
$font-size-footer: 10px;
$line-height-footer: 14px;

$container-padding-mobile: 16px;

$radius-2xl: 16px;
$radius-md: 8px;

$spacing-3xl: 24px;
$spacing-lg: 12px;
$spacing-md: 8px;
$spacing-xs: 4px;

$ColorsEffectsShadowsshadow-xl03: #0A0D120A;
$ColorsEffectsShadowsshadow-xl02: #0A0D1208;
$ColorsEffectsShadowsshadow-xl01: #0A0D1214;
$ColorsEffectsShadowsshadow-lg03: #0A0D120A;
$ColorsEffectsShadowsshadow-lg02: #0A0D1208;
$ColorsEffectsShadowsshadow-lg01: #0A0D1214;

$ColorsEffectsShadowsshadow-xs: #0A0D120D;
$Colors-text-brand-tertiary-600: #0420D5;
$Colors-button-primary-bg-hover: #031AAA;
$Colors-bg-primary-solid: #0A0D12;
$colors-text-text-primary-900: #181D27;
$colors-text-text-secondary-700: #414651;
$colors-text-tertiary-600: #535862;
$colors-text-placeholder: #717680;
$colors-text-error-primary-600: #D92D20;
$border-primary: #D5D7DA;
$border-secondary: #E9EAEB;
$background-bg-active: #FAFAFA;